<aside class="aside">
  <header>
    <h2>Treks Services</h2>
    <button type="button" id="menuclose">
      {% include svg/menuclose.svg %}
    </button>
  </header>
  <a href="/AllianceRainforest">
    <h3>Alliance of Rainforest</h3>
    <div class="type">Full day guided walks</div>
    <p>1 day 4 forests exploration</p>
  </a>
  <a href="/FashionForest">
    <h3>Fashion Forest</h3>
    <div class="type">Self-guided walks</div>
    <p>Explore an Upper Dipterocarp forest on your own feet</p>
  </a>
  <a href="/SkyForest">
    <h3>Sky Forest</h3>
    <div class="type">Guided walks</div>
    <p>Explore nature in the sky, day or night</p>
  </a>
  <a href="/ChocolateForest">
    <h3>Chocolate Forest</h3>
    <div class="type">Guided walks</div>
    <p>Explore the dwarf &amp; cloud forest</p>
  </a>
  <a href="/NatureWalks">
    <h3>Nature Walks</h3>
    <div class="type">Guided walks</div>
    <p>Magnificent plants of Genting Highlands; Supermodels of the fashion forest</p>
  </a>
  <a href="/SpecialWalks">
    <h3>Special Walks</h3>
    <div class="type">Guided walks</div>
    <p>Black gibbons &amp; helmeted hornbill</p>
  </a>
  <a href="/SpecialInterestWalks">
    <h3>Special Interest Walks</h3>
    <div class="type">Guided walks</div>
    <p>Birding &amp; Herping</p>
  </a>
  <a href="/ConservationProjects">
    <h3>Conservation projects</h3>
    <div class="type">Treks CSR</div>
    <p>Pitcher plants, tree ferns, fern moss, wild bamboo orchids</p>
  </a>
  <a href="/CorporateEvents">
    <h3>Corporate Events</h3>
    <div class="type">Corporate Activities</div>
    <p>Family day, treasure hunt, annual dinner</p>
  </a>
  <a href="/UnisonBuilding">
    <h3>Unison Building</h3>
    <div class="type">Corporate Training</div>
    <p>The Reel Simulator</p>
  </a>
  <a href="/SummerCamp">
    <h3>Summer Camp</h3>
    <div class="type">Schools</div>
    <p>Camping, multi-discipline activities</p>
  </a>
  <a href="/MountainManChallenge">
    <h3>Mountain Man Challenge</h3>
    <div class="type">Colleges &amp; Universities</div>
    <p>Gladiator team challenge</p>
  </a>
</aside>
