.aside {
  position: fixed;
  top: 0;
  right: -400px;
  z-index: 100;
  width: 400px;
  height: 100%;
  background: $orange-d;
  transition: right .5s;
  color: #fff;
  padding: 0 30px 30px;
  overflow: auto;
  a {
    display: block;
    padding: 15px;
    background: $orange-dd;
    color: #fff;
    text-decoration: none;
    border: 1px solid transparent;
    transition: border-color .5s;
    margin-bottom: 20px;
    &:hover {
      border-color: rgba(255,255,255,.65);
    }
  }
  header {
    padding: 20px 0;
  }
  h2 {
    text-transform: uppercase;
    margin: 0;
    font-size: 1.5rem;
  }
  h3 {
    text-transform: uppercase;
    margin: 0;
    font-size: 1rem;
  }
  p {
    margin: 0;
    font-size: .75rem;
  }
  .type {
    font-size: .65rem;
    color: #ffd577;
    margin: 6px 0;
  }
  button {
    background-color: transparent;
    border: 0;
    position: absolute;
    top: 30px;
    right: 30px;
    svg {
      width: 20px;
      height: 20px;
      fill: $orange-dd;
    }
  }
}
.alliancerainforest,
.fashionforest,
.skyforest,
.chocolateforest,
.naturewalks,
.specialwalks,
.specialinterestwalks {
  .aside {
    background-color: $green-d;
    a {
      background-color: $green-dd;
    }
    button {
      svg {
        fill: $green-dd;
      }
    }
  }
}
.corporateevents,
.mountainmanchallenge,
.summercamp,
.unisonbuilding {
  .aside {
    background-color: $purple-d;
    a {
      background-color: $purple-dd;
    }
    button {
      svg {
        fill: $purple-dd;
      }
    }
  }
}
