html {
  box-sizing: border-box;
  font-size: 20px;
  overflow-x: hidden;
}
*, *:before, *:after {
  box-sizing: inherit;
}
body {
  background-color: $orange-dd;
	font-family: 'Open Sans', sans-serif;
  //font-family: 'Poppins', sans-serif;
  font-weight: 300;
  line-height: 1.2;
}
.alliancerainforest,
.fashionforest,
.skyforest,
.chocolateforest,
.naturewalks,
.specialwalks,
.specialinterestwalks {
  background-color: $green-dd;
}
.corporateevents,
.mountainmanchallenge,
.summercamp,
.unisonbuilding {
  background-color: $purple-dd;
}
a {
  transition: color .5s;
}
b {
  font-weight: 600;
}
h1, h2, h3 {
  //font-family: 'Poppins', sans-serif;
	font-family: 'Exo 2', sans-serif;
  font-weight: 700;
}
h1 {
  font-size: 5rem;
  margin: 0;
  line-height: 1;
  text-transform: uppercase;
}
h2 {
	font-size: 2rem;
}
h3 {
	font-size: 1.5rem;
}
button {
  cursor: pointer;
}
ol, ul {
  list-style-position:inside;
}
