.collage {
  display: flex;
  .left, .right {
    width: 50%;
  }
  .left {
    padding-right: 10px;
  }
  .right {
    padding-left: 10px;
  }
  .pic {
    height: 400px;
    margin-bottom: 20px;
    overflow: hidden;
    &.tall {
      height: 820px;
    }
  }
}
