.footer {
  position: fixed;
  width: 100%;
  bottom: 0;
  left: 0;
  color: rgba(255,255,255,.7);
  display: flex;
  justify-content: space-between;
  z-index: -1;
}
.home .footer {
  z-index: 0;
}
.copyright, .contact {
  padding: 30px;
}
.copyright {
  padding-top: 60px;
  font-size: .75rem;
  position: absolute;
  bottom: 0;
}
.contact {
  text-align: right;
  line-height: 30px;
  a {
    // font-size: 1.5rem;
    color: #fff;
    text-transform: uppercase;
    text-decoration: none;
    border-bottom: 1px solid transparent;
    transition: border-bottom .5s;
    &:hover {
      border-bottom-color: #fff;
    }
  }
}
