.grid {
  display: flex;
  flex-wrap: wrap;
  width: 50%;
  margin: 0 auto;
  &.two {
    .col {
      width: 50%;
      padding: 10px;
    }
  }
  &.three {
    .col {
      width: 33.3333%;
      padding: 10px;
    }
  }
}
