.header {
  position: absolute;
  width: 100%;
  height: 30px;
  padding: 40px;
  display: flex;
  justify-content: space-between;
  svg {
    height: 30px;
    fill: #fff;
  }
  button {
    background-color: transparent;
    border: 0;
  }
  &.fixed {
    position: fixed;
    background-color: $orange-dd;
    padding: 15px;
    height: 50px;
    z-index: 10;
    svg {
      height: 20px;
    }
  }
}
.alliancerainforest,
.fashionforest,
.skyforest,
.chocolateforest,
.naturewalks,
.specialwalks,
.specialinterestwalks {
  header.fixed {
    background-color: $green-dd;
  }
}
.corporateevents,
.mountainmanchallenge,
.summercamp,
.unisonbuilding {
  header.fixed {
    background-color: $purple-dd;
  }
}
